{% extends 'base.html.twig' %}

{% block title %}Page d'inscription{% endblock %}
{% block header %}
    <img class="header_img" src="assets/images/Mdl-removebg.png">
{% endblock %}
{% block body %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>
  <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">Inscription</h2>
            <form id="formVerifierNumLicence" method="post" action="{{path('verifierNumLicence')}}">
                
              <div class="form-outline mb-4">
                  <label for="numlicence">Numéro de licence</label>
                    <input type="text" name="numlicence" id="numlicence" class="form-control" required autofocus>
              </div>
              <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
              <!-- Submit button -->
              <button type="submit" class="btn btn-dark btn-block mb-4">
                Suivant
              </button>
             <div class="text-center">
                <p><a href="{{path('app_login')}}">ou se connecter</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="https://www.escrime-ffe.fr/medias/images/L%20escrime/Les%20r%C3%A8gles/CIP%2018%20-%20MERTINE%20assaut%20demi-finale%202%20-%20BIZZI.jpg" class="w-100 rounded-4 shadow-4"
          alt="" />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>


<script>
$('#formVerifierNumLicence').submit(function(e){
 

})






</script>



{% endblock %}
