{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <style>
        .container_mdp{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10%;
            margin-bottom: 10%;
        }
        form {
            display: contents;
        }
        .container_mdp h1{
            margin-bottom: 2%;
          
        }
        label.required {
            padding-right: 10px;
            font-size: 20px;
        }
        .container_small {
            margin-top: 1%;
            margin-bottom: 1%;
            font-size: 20px;
        }
    </style>
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class='container_mdp'>
    <h1>Réinitialiser votre mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div class='container_small'>
            <small>
               Entrez votre adresse e-mail et nous vous enverrons un
                lien pour réinitialiser votre mot de passe..
            </small>
        </div>

        <button class="btn btn-primary">Envoyer le courriel</button>
    </div>
    {{ form_end(requestForm) }}
{% endblock %}
