{% extends 'base.html.twig' %}
{% block title %}Hello PrincipalController!{% endblock %}
{% block body %}
    <body>
          <div class="box reveal fade-left">
             <!-- <div class="leftside">
                   <img src="https://cdn.create.vista.com/api/media/medium/374950062/stock-photo-fencer-fencing-mask-suit-holding?token=" 
          alt="" />
              </div>
               <div class="rightside">
                   <div class="rightside_title">Nos ateliers</div>
                   <div>Pour avoir plus d'informations sur l'inscription à nos ateliers !</div>
                   <button class="btn btn-dark rightside_button" type="button"><a href="{{path('ateliers')}}">En savoir +</a></button>
                   
              </div>
          </div>
          <div class="box reveal fade-right" id='switch'>
              <div class="leftside">
                   <img src="https://stillmed.olympics.com/media/Photos/2016/08/08/08-08-2016-Fencing-Women-Individual-Sabre-02.jpg" 
          alt="" />
              </div>
               <div class="rightside">
                   <div class="rightside_title">Les dates du congrès</div>
                   <div>Pour avoir plus d'informations sur la réservation de nos ateliers</div>
                   <button class="btn btn-dark rightside_button" type="button"><a href="">En savoir +</a></button>
                   
              </div>
          </div>
          <div class="box reveal fade-left">
              <div class="leftside">
                   <img src="https://images.pexels.com/photos/775219/pexels-photo-775219.jpeg?auto=compress&cs=tinysrgb&w=1600" 
          alt="" />
              </div>
               <div class="rightside">
                   <div class="rightside_title">Nos formules d'hébergement</div>
                   <div>Pour consulter nos différentes formules d'hébergements et bénéficier de prix réduit avec nos hôtels partenaires !</div>
                   <button class="btn btn-dark rightside_button" type="button"><a href="{{path('formules')}}">En savoir +</a></button>
                   
              </div>-->
             <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="assets/images/Mdl-removebg.png" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">Bienvenue aux 6ème Assises de l'Escrime ! </h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Cette rencontre annuelle, organisée par la Fédération Française d'Escrime, rassemble des escrimeurs et des professionnels de l'escrime de toute la France pour discuter des dernières tendances et innovations dans le monde de l'escrime.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <p class="lead mb-4">Cette année, les Assises se tiennent à <strong style="font-size: 1.5rem">du 14 au 15 septembre 2013</strong>, et sont l'occasion pour les participants de se réunir, d'échanger leurs idées et leurs expériences, de renforcer les liens de la communauté de l'escrime et de découvrir les dernières tendances en matière d'équipements, de techniques d'entraînement et de compétitions.</p>
      </div>
    </div>
  </div>
          </div>         
    </body>
    
    <style>
        .box{
            display: flex;
            flex-direction: row;
            margin-bottom: 5%;
            align-items: center;
        }
        </style>
{% endblock %}
