/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 9 févr. 2023, 15:54:38
    Author     : kilian.breton
*/

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*bottom:0;*/
    position: absolute;
    width: 100%;
    min-height: 50px;
    padding-right: 5px;
   padding-left: 5px
}
.left, .right{
    display: flex;
    flex-direction: column;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}

.footer_img{
     border-radius: 5px;
}
.header_img{
    margin: 10px;
    border-radius: 5px;
      max-height: 50px!important;
    max-width: 70px!important;
}


/*Dashboard*/

.ateliers{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding-top: 10%;
}

.formules{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding-top: 10%;
}
button.btn.btn-dark.rightside_button a{
    text-decoration: none!important;
    color: white!important;
}
