{# empty Twig template #}

{% block footer %}
     <footer class="footer">
         <div class="left">
           <!--  <a href="">Contact</a> -->
             <!--<span>Maison des ligues</span>-->
             <span>Par Contussi et Breton</span>
         </div>
         <div class="center">
             <!--<img class="footer_img" src="assets/images/img.jpg">-->
            <!-- <span>Par Contussi et Breton</span>-->
        
         </div>

         <div class="right">
             <span>Mentions légales</span>
             <!--<span>Plan du site</span>-->
         </div>
     </footer>
    <style>
        .footer{
           color: white;
            background: #33475c;
            
        }
    </style>
{% endblock %}