{# empty Twig template #}

{% block footer %}
     <div class="footer bg-light">
         <div class="left">
           <!--  <a href="">Contact</a> -->
             <span>Maison des ligues</span>
         </div>
         <div class="center">
             <!--<img class="footer_img" src="assets/images/img.jpg">-->
             <span>Par Contussi et Breton</span>
         </div>

         <div class="right">
             <span>Mentions légales</span>
             <!--<span>Plan du site</span>-->
         </div>
     </div>
{% endblock %}