{# empty Twig template #}
{% block searchbar %}
  <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Rechercher...">
        <button class="btn btn-dark" type="button">Rechercher</button>
      </form>
{% endblock %}
