{% extends 'base.html.twig' %}

{% block body %}
<style>
.gridAtelier{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2% 2%;
    row-gap: 2%; 
    column-gap: 2%; 
    margin-bottom:2%
}
</style>
<div class='gridAtelier'>
    {% for atelier in ateliersData %}
        <div class="bg-light me-md-3 pt-3 px-3 w-100 pt-md-5 px-md-5 text-center overflow-hidden" >
            <div class="my-3 py-3">
                <h2 class="display-5">{{atelier.libelle}}</h2>
                <p class="lead"></p>
            </div>
            <div class="fiche bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;padding:7%">
                {% for theme in atelier.themes %}
                <div class="text-light" >{{theme.libelle}}</div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}