{% extends 'base.html.twig' %}

{% block body %}
<style>
.gridAteliers{display:grid;
    grid-template-rows :repeat(3,1fr);
    grid-template-columns :repeat(2,1fr);
    margin: 3%;
}
.gridAteliers div {
 
  padding: 4%;
  padding-left: 10%;
}
.noSelected{
    border: 1px solid gray;
}


</style>
<div class="gridAteliers">    
    {% for atelier in ateliersData %}
        <div class="noSelected">
            <ul>{{atelier.libelle}}</ul>
            {% for themes in atelier.themes %}
                <li>{{themes.libelle}}</li>
            {% endfor %}
        </div>
    {% endfor %}
</div>

<script>
    $('.noSelected').onhover(function(){
        $(this).addClass('selectedAtelier');
    });





</script>




{% endblock %}
