{% extends 'base.html.twig' %}

{% block body %}
<style>
.gridAteliers{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2% 10%;
}
</style>

<div class="gridAteliers">
    {% for atelier in ateliersData %}
        <div class="card text-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">{{atelier.libelle}} </div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">
                    {% for themes in atelier.themes %}
                        {{themes.libelle}}
                    {% endfor %}
                </p>
            </div>
        </div>
    {% endfor %}
</div>
<script>
    $('.noSelected').onhover(function(){
        $(this).addClass('selectedAtelier');
    });





</script>




{% endblock %}
