{% extends 'base.html.twig' %}
{% import "macro/macroFormule.html.twig" as macroFormule %}

{% block body %}
<style>
.gridAteliers{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2% 10%;
}
.selectedAtelier .card-header{background-color: #b8d8be;}
.selectedAtelier .card-body{background-color: #d2e7d6;}
.dateReservation{}
.input-group-prepend{width: 130px;min-width: 130px;}
</style>
<input id="inputAtelier" name="idAtelier" value="" hidden />
<h2>Etape 1</h2>

<div class="gridAteliers">
    {% for atelier in ateliersData %}
        <div class="card text-dark mb-3"  idAtelierSelected="{{atelier.id}}"style="max-width: 18rem;">
            <div class="card-header">{{atelier.libelle}} </div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">
                    {% for themes in atelier.themes %}
                        - {{themes.libelle}}</br>
                    {% endfor %}
                </p>
            </div>
        </div>
    {% endfor %}
</div>

<input name="idFormule" value="" hidden />
<div class='divFormule'>
    <h2>Etape 2 </h2>
    <h4>Ajouter une Nuite</h4>
    <div class="divMacro">{{ macroFormule.macroFormule(formulesData) }}</div>
    <button class="btn btn-primary btnAddMacro"><i class="fas fa-plus"></i></button>
</div>



 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
 <script>
    $('.divFormule').hide();
    const tabIdAteliers =[];
    $('.card').click(function(){
        if($(this).hasClass('selectedAtelier')){
            tabIdAteliers.splice
        }
        $(this).addClass('selectedAtelier');   
        $('#inputAtelier').val($(this).attr('idAtelierSelected'));
        console.log($('#inputAtelier').val());
        $('.divFormule').show();
    });



    $('.btnSubmitFormReserverAterlier').click(function(){
        if(confirm('Valider la réservation ?')) {
            $.ajax({
                method: "POST",
                url: "some.php",
                data: { name: "John", location: "Boston" },
                success: function (result) {
                    console.log(result);
                }
            })
        }
    });

    $('.btnAddMacro').click(function(){
        if(confirm('Ajouter une nouvelle nuite ?')) {
            $.ajax({
                method: "POST",
                url: "ajaxAddFormule",
                success: function (result) {
                    $('.divMacro').append(result);
                }
            })
        }
    });




</script>




{% endblock %}
