{# {{dump(theme)}} #}
<style>
    .modificationButton{
        display: flex;
        justify-content: center;
    }
    form{
        margin-bottom: 3%;
    }
</style>
<form method="post" action="{{path('ajaxModifTheme',{'idTheme':theme.id})}}">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="labelLibelleTheme">Le libelle du thème</span>
        </div>
        <input type="text" class="form-control" id="libelleTheme" aria-describedby="labelLibelleTheme" name="libelleTheme" value="{{theme.libelle}}">
    </div>
    <div class='modificationButton'>
    <button type="submit" class="btn btn-secondary">Valider les modifications</button>
    </div>
</form>